.label {
    -fx-text-fill: #00ff00;
    -fx-background-color: rgba(0, 0, 0, 0.65);
}
.window {
    -fx-background-color: #ffffff ;
    -fx-background-image: url(../client/images/background.png);
    -fx-background-size: contain;
    -fx-background-position: center center;
}
.button {
    -fx-background-color: #424242;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0, 1.5;
    -fx-background-radius: 9, 7.5;
}
.input {
    -fx-background-color: #000000;
    -fx-border-color:#00ff00;
    -fx-text-fill: #00ff00;
    -fx-font-family: 'monospaced';
}
.text{
    -fx-background-color: #424242;
    -fx-text-fill:#ffffff;
    -fx-text-alignment: center;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}